<div class="content-holder">
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/products">
            <mat-icon>inventory_2</mat-icon>
            <span>All Products</span>
        </button>
        <button *ngIf="!token" mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button *ngIf="token" mat-menu-item (click)="onLogOutClick()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <figure routerLink="/home">
        <img src="EM.png">
    </figure>
    <mat-form-field appearance="outline" subscriptSizing="dynamic" *ngIf="isProductInview; else title">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text"  placeholder="Search products by name" #input>
        <button mat-icon-button matSuffix (click)="onSearchProductName(input.value)">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-form-field>
    <ng-template #title>
        <h2>{{headerTitle}}</h2>
    </ng-template>
    <nav>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
        <a routerLink="/carts" routerLinkActive="active"><mat-icon [matBadge]="count" >shopping_cart</mat-icon>Carts</a>
    </nav>
</div>