<div class="container">
    <h2>Review Your Order</h2>
    <div class="order-summary-holder">
        <div class="orders-holder">

            <div class="order" *ngFor="let eachSelectedCart of selectedCart">
                <figure>
                    <img [src]="eachSelectedCart.images[0]">
                </figure>
                <div class="items-details">
                    <p class="bold">{{eachSelectedCart.description}}<p>
                    <p class="bold">{{eachSelectedCart.price | currency}}</p>
                    <p>Quantity: {{eachSelectedCart.count}}</p>
                    <div class="add-delete-holder">
                        <p class="add" (click)="onAddClick(eachSelectedCart)">Add</p>
                        <p class="delete" (click)="onDeleteClick(eachSelectedCart)">Delete</p>
                    </div>
                </div>
                <div class="delivery-date">
                    <p class="bold">Delivery Date<p>
                    <p>{{eachSelectedCart.deliveryDate | date}}</p>
                </div>
            </div>
            <button routerLink="/products">Click To See All Products</button>
        </div>
        <div class="summary">
            <h4>Payment Summary</h4>
            <div class="summary-details">
                <div class="detail">
                    <p>Item<span *ngIf="count !== 1">s</span> ({{count}})</p>
                    <p>{{itemsPrice | currency}}</p>
                </div>
                <div class="detail">
                    <p>Shipping</p>
                    <p>{{shipping | currency}}</p>
                </div>
                <div class="detail">
                    <p>Tax</p>
                    <p>{{tax | currency}}</p>
                </div>
                <hr>
                <div class="detail total">
                    <p>Total</p>
                    <p>{{total | currency}}</p>
                </div>
                <button (click)="onOrderClick()">Place Your Order</button>
        </div>
    </div>
</div>
